/* CSS selectors are prefixed with smash_browse to avoid collisions with target web page.*/

.smash_browse_menu {
  position: absolute;
  width: 300px;
  padding: 2px;
  margin: 0;
  border: 1px solid #bbb;
  background: #eee;
  background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
  background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
  z-index: 2147483647; /*100;*/
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  opacity: 0;
  -webkit-transform: translate(0, 15px) scale(.95);
  transform: translate(0, 15px) scale(.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
}

.smash_browse_menu_item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.smash_browse_menu_button {
  background: none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  width: 100%;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 8px;
  border-radius: 3px;
}
 .smash_browse_menu_button::-moz-focus-inner, .smash_browse_menu_button::-moz-focus-inner {
 border: 0;
 padding: 0;
}

.smash_browse_menu_text { margin-left: 5px; } /* { margin-left: 25px; } */

.smash_browse_menu_button .fa {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.smash_browse_menu_item:hover > .smash_browse_menu_button {
  color: #fff;
  outline: none;
  background-color: #2E3940;
  background: -webkit-linear-gradient(to bottom, #5D6D79, #2E3940);
  background: linear-gradient(to bottom, #5D6D79, #2E3940);
  border: 1px solid #2E3940;
}

.smash_browse_menu_item.smash_browse_disabled {
  opacity: .5;
  pointer-events: none;
}

.smash_browse_menu_item.smash_browse_disabled .smash_browse_menu_button { cursor: default; }

.smash_browse_menu_separator {
  display: block;
  margin: 7px 5px;
  height: 1px;
  border-bottom: 1px solid #fff;
  background-color: #aaa;
}

.smash_browse_menu_item.smash_browse_submenu::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #808080;
}

.smash_browse_menu_item.smash_browse_submenu:hover::after { border-left-color: #fff; }

.smash_browse_menu .smash_browse_menu {
  top: 4px;
  left: 99%;
  width: 250px;
}

.smash_browse_menu_show, .smash_browse_menu_item:hover > .smash_browse_menu {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

.smash_browse_menu_item:hover > .smash_browse_menu {
  -webkit-transition-delay: 0ms; /*100ms;*/
  transition-delay: 0ms; /*300ms;*/
}