# Test values for the following variables are supplied by the gitlab
# secure project variables.
# ANDROID_DEVICE_ID 
# PASSWORD
ngs_windows_debug:
  script:
    - echo "NGS WINDOWS DEBUG"
    - ARCH=ARCH_WINDOWS
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_windows_debug
    - mkdir ngs_windows_debug
    - cd ngs_windows_debug
    - cmake -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Debug ../src
    - cmake --build . --target install
  tags:
    - ngsrunner
ngs_windows_release:
  script:
    - echo "NGS WINDOW RELEASE"
    - ARCH=ARCH_WINDOWS
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_windows_release
    - mkdir ngs_windows_release
    - cd ngs_windows_release
    - cmake -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Release ../src
    - cmake --build . --target install
  tags:
    - ngsrunner
ngs_winrt_debug:
  script:
    - echo "NGS WINRT DEBUG"
    - ARCH=ARCH_WINRT
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_winrt_debug
    - mkdir ngs_winrt_debug
    - cd ngs_winrt_debug
    - cmake -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=../src/toolchain_winrt.cmake ../src
    - cmake --build . --target install
    - cmake --build . --target install_todopile
    - cmake --build . --target install_testqml
    - cmake --build . --target pack_todopile
    - cmake --build . --target pack_testqml
    #- cmake --build . --target run_todopile
    #- cmake --build . --target run_testqml
    #- cmake --build . --target unregister_todopile
    #- cmake --build . --target unregister_testqml
  tags:
    - ngsrunner
ngs_winrt_release:
  script:
    - echo "NGS WINRT RELEASE"
    - ARCH=ARCH_WINRT
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_winrt_release
    - mkdir ngs_winrt_release
    - cd ngs_winrt_release
    - cmake -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=../src/toolchain_winrt.cmake ../src
    - cmake --build . --target install
    - cmake --build . --target install_todopile
    - cmake --build . --target install_testqml
    - cmake --build . --target pack_todopile
    - cmake --build . --target pack_testqml
    #- cmake --build . --target run_todopile
    #- cmake --build . --target run_testqml
    #- cmake --build . --target unregister_todopile
    #- cmake --build . --target unregister_testqml
  tags:
    - ngsrunner
ngs_winrt_x86_debug:
  script:
    - echo "NGS WINRT X86 DEBUG"
    - ARCH=ARCH_WINRT
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_winrt_x86_debug
    - mkdir ngs_winrt_x86_debug
    - cd ngs_winrt_x86_debug
    - cmake -G "Visual Studio 14 2015" -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=../src/toolchain_winrt.cmake ../src
    - cmake --build . --target install
    - cmake --build . --target install_todopile
    - cmake --build . --target install_testqml
    - cmake --build . --target pack_todopile
    - cmake --build . --target pack_testqml
    #- cmake --build . --target run_todopile
    #- cmake --build . --target run_testqml
    #- cmake --build . --target unregister_todopile
    #- cmake --build . --target unregister_testqml
  tags:
    - ngsrunner
ngs_winrt_x86_release:
  script:
    - echo "NGS WINRT X86 RELEASE"
    - ARCH=ARCH_WINRT
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_winrt_x86_release
    - mkdir ngs_winrt_x86_release
    - cd ngs_winrt_x86_release
    - cmake -G "Visual Studio 14 2015" -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=../src/toolchain_winrt.cmake ../src
    - cmake --build . --target install
    - cmake --build . --target install_todopile
    - cmake --build . --target install_testqml
    - cmake --build . --target pack_todopile
    - cmake --build . --target pack_testqml
    #- cmake --build . --target run_todopile
    #- cmake --build . --target run_testqml
    #- cmake --build . --target unregister_todopile
    #- cmake --build . --target unregister_testqml
  tags:
    - ngsrunner
ngs_android_debug:
  script:
    - echo "NGS ANDROID DEBUG"
    - export ARCH=ARCH_ANDROID
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_android_debug
    - mkdir ngs_android_debug
    - cd ngs_android_debug
    - cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=../src/toolchain_android.cmake ../src
    - ninja install
    - ninja install_todopile
    - ninja install_testqml
    - ninja run_todopile
    - ninja run_testqml
  tags:
    - ngsrunner
ngs_android_release:
  script:
    - echo "NGS ANDROID RELEASE"
    - export ARCH=ARCH_ANDROID
    - source ./src/scripts/msys2/setup_env.sh
    - rm -fr ngs_android_release
    - mkdir ngs_android_release
    - cd ngs_android_release
    - cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=../src/toolchain_android.cmake ../src
    - ninja install
    - ninja install_todopile
    - ninja install_testqml
    - ninja run_todopile
    - ninja run_testqml
  tags:
    - ngsrunner

