<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Smash Browse</Name>
    <Version>1.0.0</Version>
    <Title>Smash Browse</Title>
    <Publisher>Smash Browse</Publisher>
    <StartMenuDir>Smash Browse</StartMenuDir>
    <TargetDir>@ApplicationsDir@/SmashBrowse</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>REPOSITORY_URL</Url>
        </Repository>
    </RemoteRepositories>
    <InstallerApplicationIcon>octopus_blue</InstallerApplicationIcon>
    <WizardStyle>Modern</WizardStyle>
    
    <RunProgram>@TargetDir@/LAUNCH_PROGRAM</RunProgram>
    
</Installer>
