<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>RoboDownloader</Name>
    <Version>1.0.0</Version>
    <Title>RoboDownloader</Title>
    <Publisher>RoboDownloader</Publisher>
    <StartMenuDir>RoboDownloader</StartMenuDir>
    <TargetDir>@ApplicationsDir@/RoboDownloader</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>REPOSITORY_URL</Url>
        </Repository>
    </RemoteRepositories>
    <InstallerApplicationIcon>robot_blue</InstallerApplicationIcon>
    <WizardStyle>Modern</WizardStyle>
    
    <RunProgram>@TargetDir@/LAUNCH_PROGRAM</RunProgram>
    
</Installer>
