.smash_browse_hover {
  outline: 2px solid black;
  opacity: 1
}

.smash_browse_selected {
  background-color: pink;
  outline: 2px solid green;
  opacity: 1
}

.smash_browse_selected_overlay {
  outline: 1px solid lime;
  opacity: 1;
  z-index: 2147483646; /* max 32 bit int 2147483647 */ 
}

.smash_browse_text_box {
  outline: 1px solid red;
  opacity: 1;
  z-index: 2147483646; /* max 32 bit int 2147483647 */ 
}

.smash_browse_image_box {
  outline: 1px solid blue;
  opacity: 1;
  z-index: 2147483646; /* max 32 bit int 2147483647 */ 
}